---

--- 

<nav>
  <ul>
    <a href={`${import.meta.env.BASE_URL}`}>Home</a>
    <a href={`${import.meta.env.BASE_URL}projects`}>Projects</a>
    <a href={`${import.meta.env.BASE_URL}contact`}>Contact</a>
  </ul>

  <ul>
    <li><a href="https://github.com/eeoooue/portfolio">GitHub</a></li>
  </ul>
</nav>

<style>
  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #333;
    color: white;
    padding: 1rem;
    justify-content: space-between;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }

  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  a:hover {
    text-decoration: underline;
  }
</style>