

<div class="footer-container">

    <a href="./projects">
        <button id="more-projects-btn">
            More Projects
        </button>
    </a>

</div>


<style>

    .footer-container{
        margin: 10px 10px;
        margin-bottom: 100px;
    }

    #more-projects-btn{
        margin: 10px 10px;
        color: white;
        background-color: #333;
        border: none;
        padding: 10px 32px;
        border-radius: 10px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    #more-projects-btn:hover{
        cursor: pointer;
        background-color: #111;
    }


</style>