---
import BaseLayout from '../layouts/BaseLayout.astro';
import ProjectCatalogue from '../sections/ProjectCatalogue.astro';
---

<BaseLayout>
  <div class="main-content">
    <h2 style="margin: 32px">Projects</h2>
    <ProjectCatalogue/>
  </div>

</BaseLayout>

<style>
  .main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
